* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

button {
    border-radius: 10px;
    background-color: #772c9c;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    color: #eedff7;
}

body {

}

.hero {
    background-image: url('hero.jpg');
    background-size:cover;
    min-height: 100vh;
    padding: 1em;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(230, 230, 230, 0.1);
    display: flex;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(1px);
}

.navbar:hover {
    /* padding-left: 100px;
    padding-right: 100px; */
    transition: 0.5s;
    backdrop-filter: blur(7.5px);
    border-color: rgb(228, 228, 228, 0.75);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#downloadnav {
    padding: 10px;
}

#downloadnav:hover {
    background-color: #8f49b2;
    cursor: pointer;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    margin: inherit;
    padding: 0;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}

ul li a {
    display: block;
    padding: 14px 16px 14px 0px;
    text-decoration: none;
    font-weight: 600;
}

#navtitle {
    flex-grow: 2;
    padding-left: 5px;
}

.primary {
    display: flex;
    margin-top: 5em;
    margin-right: 7.5em;
    justify-content: flex-end;
}

.primary > img {
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.35);
}

.primarytext {
    margin-top: 0.5em;
    margin-left: 2.5em;
    max-width: 50%;
    padding: 10px;
}

#herotext {
    font-size: 3em;
    max-width: 10em;
}

#herodesc {
    margin-top: 1em;
    font-weight: 450;
}